.profile-container{
    height: 58vh;
    margin-left: 11px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-image: url('../../images/bck.jpg') ;
    background-color: transparent;

}

.profile-container-1{
    margin-left: 11px;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    position: relative;
    overflow-x: hidden;
    height: 94vh;
}

.other-container{
    height: 100vh;
    border: 1px solid red;
    position: relative;
}


.my-image{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    display: flex;
    position: relative;
    top: -15px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../../images/myimg.jpeg') ;
    background-color: transparent;
    box-shadow: 0 -3px 17px 18px rgba(0,0,0,.25);

}

.experince-tag{
    width: 416px;
    border-right: 1px solid;
    height: 138px;
    position: relative;
    left: 137px;
    top: 47px;
    padding-right: 74px;


}

.skills-tag{
    border: 1px solid #c39a80;
    align-items: center;
    color: #8b8b8b;
    border-radius: 5px;
    margin: 10px 5px 0;
    font-size: 12px;
    font-weight: 700;
    line-height: 10px;
    padding: 2px 5px;
}