.left-nav-container{
    border: 1px solid black;
    width: 15vw;
    height: 100vh;
    background: aquamarine;
}

.portfolio-conatiner{
    width: 100%;
    border: 1px solid black;
    height: 10%;
    background: #ffffff;
    margin: 5px 0px 5px 0px;
}

.project-list-container{
    width: 100%;
    border: 1px solid red;
    height: 10%;
    background: #ffffff;
    margin: 5px 0px 5px 0px;
}