.size-14 {
    font-size: 16px;
    font-style: Poopins;
}

.left-container {
    display: block;
    width: 20vw;
    padding: 13px 5px;
    box-shadow: 0px 1px 7px;
    margin-left: 8px;
    margin-top: 14px;
    height: 90vh;
}

@media (max-width: 768px) {

    /* CSS rules for small screens */
    .my-image {
        top: -249px !important;
        right: 16px;
    }

    .profile-image-position {
        position: relative;
        left: 18vw !important;
        /* top: 332px !important; */

    }

    .summuray-container {
        position: absolute !important;
        left: 0px !important;
        margin-top: 51px;
    }

    .whole-resum-container {
        display: block !important;
    }

    .experince-tag {
        justify-self: flex-end;
        width: auto !important;
        height: auto;
        position: auto !important;
        top: auto !important;
        padding-right: 0px !important;
        margin-top: 40px;
    }

    .skills-wala-container {
        position: static !important;
        height: auto;
        margin-top: 0px;
        padding-left: 0px !important;
    }

    .project-list-container {
        margin-top: 50px !important;
    }

    .my-jounery-tag {
        margin-left: 0px !important;
        margin-top: 40px !important;
    }

    .boder-of-jurney-tag {
        width: 250px !important;
        height: 1px;
        border-top: 1px solid black;
        position: relative;
        left: 0px !important;
        /* padding-left: 10px; */
        margin-left: 66px;
    }
}

.text-of-populer-card{
    /* text-decoration: underline; */
    color: blue;
    font-size: 12px;
}

.heading-of-team-card{
    color: #423e3ed6;
    font-size: 15px;
    font-weight: bold;
}

.match-graph-container{
    border: 1px solid black;
    position: fixed;
    top: 158px;
    left: 310px;
    margin: 10px 5px;
    height: 71%;
    width: 76%;
}
